altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow==1.3.0
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools
fqdn==1.5.1
gitdb
GitPython
h11
httpcore
httpx
idna
importlib_resources==6.4.5
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi
Jinja2
joblib
json5
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events
jupyter-highlight-selected-word==0.2.0
jupyter-lsp
jupyter_client
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core
jupyter_nbextensions_configurator==0.6.4
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
kiwisolver
lxml==5.3.0
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
patsy==0.5.6
pillow
platformdirs
ply
prometheus-client
prompt-toolkit
protobuf==4.25.3
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
setuptools==72.1.0
sip
six
smmap
sniffio
soupsieve
stack-data
statsmodels==0.14.3
streamlit==1.39.0
sweetviz==2.3.1
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm==4.66.5
traitlets
types-python-dateutil==2.9.0.20240906
typing_extensions
tzdata
unicodedata2
uri-template==1.3.0
urllib3
watchdog
wcwidth
webcolors==24.8.0
webencodings
websocket-client
wheel==0.44.0
widgetsnbextension==4.0.13
win-inet-pton
xgboost==2.1.1
